<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/style.css">
    <!-- dicha ruta afecta la forma en la que html accede a los archivos estaticos -->
</head>

<body>
    <h1>Hola mundo!</h1>
    <p>Desde motor de vistas</p>
</body>

</html>